################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Centauri.AuditLogging/bin
/Centauri.AuditLogging/obj
/Centauri.AuditLogging.EntityFramework/bin
/Centauri.AuditLogging.EntityFramework/obj
